<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/creadores.css">
    <link rel="icon" href="../Imagenes/Ag_Icon.ico">
    <title>Creadores</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/menu">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/acerca">Acerca De</a>
        <a class="cerrarSesion" href="/">Cerrar Sesion</a>
    </div>
<br><br>
          <h1>Somos DreamTech</h1>
    <section id="quienes-somos">
        <h2>¿Quiénes Somos?</h2>
        <p>Somos un equipo apasionado en DreamTech, dedicado a crear soluciones innovadoras que conectan a los productores locales con los consumidores interesados en productos frescos y saludables. Nos inspira la visión de fortalecer las comunidades al facilitar el acceso a alimentos de calidad directamente de la feria del agricultor.</p>

        <div class="imagen-empresa">
            <img src="../Imagenes/DreamTech.png" alt="Logo de TechDream">
        </div>

        <p>Nuestra aplicación proporciona una plataforma digital donde los agricultores y productores pueden ofrecer sus productos directamente a los compradores, eliminando intermediarios y brindando una experiencia de compra más cercana y transparente. Creemos en fomentar la agricultura sostenible y apoyar a las comunidades locales, y nuestra aplicación es la herramienta perfecta para lograrlo.</p>

    </section>

    <section id="creadores">
        <h2>Equipo DreamTech</h2>
        
        <div class="integrantes-row">
            <div class="integrante">
                <img src="../Imagenes/Sebas.jpg" alt="Foto de Integrante 1">
                <h3>Sebastian Gamboa Vargas</h3>
                <p>Control de Calidad</p>
            </div>

            <div class="integrante">
                <img src="../Imagenes/Eduardo.jpg" alt="Foto de Integrante 2">
                <h3>Eduardo Chacón Zamora</h3>
                <p>Coordinador</p>
            </div>
        </div>

        <div class="integrantes-row">
            <div class="integrante">
                <img src="../Imagenes/Alejandro.jpg" alt="Foto de Integrante 3">
                <h3>Alejandro Soto Viquez</h3>
                <p>Desarrollador</p>
            </div>

            <div class="integrante">
                <img src="../Imagenes/Samanta.jpg" alt="Foto de Integrante 4">
                <h3>Samanta Toruño Sequeira</h3>
                <p>Soporte Técnico</p>
            </div>
        </div>

    </section>

    <br><br><br>

    <footer>
        <p>&copy; 2024 TechDream. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
