<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../CSS/menu.css">
    <link rel="icon" href="../Imagenes/Ag_Icon.ico">
    <link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css" >
</head>
<body>
    <header class="header">
       
        <nav>
           <ul class="nav-links">
                <li><a href="/menu">Inicio</a></li>
                <li><a href="/acerca">Sobre Nosotros</a></li>
                <li><a href="#footer">Contáctenos</a></li>

                <li><a style="color: red;" href="/prueba">Pruebas</a></li>

           </ul>            
        </nav> 

        <div class="buscar">
            <form class="search-form" action="#" method="GET">
                <input type="text" placeholder="Buscar..." name="search">
                <button type="submit">Buscar</button>
            </form>
        </div>

        <div class="btn-container">
            <a class="btn" href="/login"><button>Inicia Sesion</button></a>
            </div>
            
        <div class="carrito1">
            <a href="/carrito"><img src="/Imagenes/carrito-de-compras (2).png" alt= "Carro de compras" ></a>
           
        </div>
    </header>

    <div class="main-content">
        <div class="imagen-inicial">
            <img class="imagen-inicio" src="Imagenes/frutas.jpg">
        </div>

<div class="logos-container">
    <p class="cate-titulo">Nuestras Categorias</p>
    <div class="logos">
        <div class="logo">
            <a href="/verduras">
                <img src="../Imagenes/verduras-logo.jpg">
            </a>
        </div>
        <div class="logo">
            <a href="/frutas">
                <img src="../Imagenes/frutas-logo.jpg">
            </a>
        </div>
        <div class="logo">
            <a href="/lacteos">
                <img src="../Imagenes/lacteos-logo.jpg">
            </a>
        </div>
    </div>
</div>
 
<div class="info">
    <div class="info-content">
        <div class="info-image">
            <img src="Imagenes/agricultor.jpg" alt="Imagen" />
        </div>
        <div class="info-text">
            <p>En el núcleo mismo de AgroGreen late un corazón apasionado por la tierra que nutre nuestras vidas y alimenta nuestra pasión por la agricultura. Esta pasión no solo se refleja en la calidad de nuestros productos, sino también en nuestro compromiso inquebrantable con prácticas agrícolas sostenibles que protegen y preservan nuestro planeta para las generaciones venideras, 
            comprendemos que la sostenibilidad va más allá de solo palabras; es una filosofía arraigada en cada semilla que plantamos y en cada fruta que cosechamos. Es por eso que nos esforzamos por adoptar un enfoque integral hacia la sostenibilidad en todos los aspectos de nuestro negocio. 
            </p>
        </div>
    </div>
</div>


<div class="caja">
    <div class="caja-cuatro">
        <div class="contenido">
            <div class="elemento">
                <img src="../Imagenes/enviado (1).png" alt="Imagen 1" class="imagen">
                <p style="color: white;" class="texto">Envios rapidos.</p>
            </div>
            <div class="elemento">
                <img src="../Imagenes/verduras.png" alt="Imagen 2" class="imagen">
                <p style="color: white;" class="texto">Frescura.</p>
            </div>
            <div class="elemento">
                <img src="../Imagenes/precio-bajo.png" alt="Imagen 3" class="imagen">
                <p style="color: white;" class="texto">Precios comodos. </p>
            </div>
            <div class="elemento">
                <img src="../Imagenes/control-de-calidad.png" alt="Imagen 4" class="imagen">
                <p style="color: white;" class="texto">Calidad.</p>
              </div>
           </div>
       </div>
   </div>

</div>

<footer id="footer" class="footer">
    <img src="Imagenes/ag (3).png" alt="Logo" class="logo-footer">

    <div class="contacto">
        <h3>Contacto</h3>
        <ul>
            <li><a href="/acerca"><img src="../Imagenes/whatsapp.png" alt="Whatsapp" class="icono">+ 506 5134-8528</a></li>
            <br>
            <li><a href="/acerca"><img src="../Imagenes/instagram.png" alt="Instagram" class="icono">@DreamTechCR</a></li>
            <br>
            <li><a href="/acerca"><img src="../Imagenes/gorjeo.png" alt="Twitter" class="icono">@Dream_Tech</a></li>
        </ul>
    </div>
    <div class="linea"></div>
    <div class="sobre-nosotros">
        <h3>Sobre Nosotros</h3>
      
        <ul>
        <li><a href="/acerca"> • Nuestros Productos</a></li>
        <br>
        <li><a href="/acerca"> • Nuestras Categorias</a></li>
        <br>
        <li><a href="/acerca"> • Historia</a></li>
    </ul>
    </div>
    <br>
   
</footer>
<div class="pie-pagina">
    <p> &copy;2024 DreamTech. Todos los derechos reservados.</p>
</div>




</body>
</html>