    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../CSS/navbar.css">
        <title>Navbar Prueba</title>
    </head>
    <body>

        <header>
            <nav>
                <input type="checkbox" id="menu-toggle">
                <label for="menu-toggle" class="menu-icon">☰</label>
                <img src="../Imagenes/imagen-ejemplo.png" alt="Descripción de la imagen" class="logo">
                <div class="input-container">
                    <input type="text" class="input-center" placeholder="¿Qué estás buscando?">
                    <a href="#" class="login">Inicio Sesión</a>
                    <img src="../Imagenes/imagen-ejemplo.png" alt="Descripción de la imagen" class="perfil">
                    <img src="../Imagenes/imagen-ejemplo.png" alt="Descripción de la imagen" class="carrito">
                </div>
                <div class="menu-content">
                    <ul>
                        <li>Link 1</li>
                        <li>Link 2</li>
                        <li>Link 3</li>
                        <li>Link 4</li>
                    </ul>
                </div>
            </nav>
        </header>
        
        


    </body>
    </html>