<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/perfilUser.css">
    <link rel="icon" href="../Imagenes/Ag_Icon.ico">
    <title>Perfil Usuario</title>
</head>
<body>
    
    <header class="header">
       
        <nav>
           <ul class="nav-links">
            <li><a href="/menu">Inicio</a></li>
            <li><a href="/acerca">Sobre Nosotros</a></li>
            <li><a href="#footer">Contáctenos</a></li>
           </ul>            
        </nav>
     
        <div class="buscar">
            <form class="search-form" action="#" method="GET">
                <input type="text" placeholder="Buscar..." name="search">
                <button type="submit">Buscar</button>
            </form>
        </div>
    
        <div class="btn-container">
            <a class="btn" href="/login"><button>Inicia Sesion</button></a>
            </div>
            
        <div class="carrito1">
            <a href="/carrito"><img src="/Imagenes/carrito-de-compras (2).png" alt= "Carro de compras" ></a>
           
        </div>
    </header>



    <div class="container">
        <b><p class="titulo">Perfil Usuario</p></b>
        <br>
        <div class="cuadro">
            <div class="inputs">
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Primer Apellido">
                <input type="text" placeholder="Segundo Apellido">
                <input type="text" placeholder="Número Telefónico">
                <input type="text" placeholder="Correo Electrónico">
                <input type="text" placeholder="Contraseña">
                <input type="text" placeholder="Verificacion de contraseña">
            </div>
            <div class="side-content">
                 <div class="input-imagen">
                    <div class="contenido">
                        <input type="file" id="imagen" name="imagen" accept="image/*" style="display: none;">
                    </div>
                    <div class="imagen-container">
                        <label for="imagen">
                            <img src="../Imagenes/subir.png" alt="Subir Imagen">
                        </label>
                    </div>
                </div>
                <div class="buttons">
                    <button>Regresar</button>
                    <button>Guardar</button>
                </div>
            </div>
        </div>
        
        
    </div>
    <br><br><br><br><br><br>

    <footer id="footer" class="footer">
        <img src="Imagenes/ag (3).png" alt="Logo" class="logo-footer">
    
        <div class="contacto">
            <h3>Contacto</h3>
            <ul>
                <li><a href="/acerca"><img src="../Imagenes/whatsapp.png" alt="Whatsapp" class="icono">+ 506 5134-8528</a></li>
                <br>
                <li><a href="/acerca"><img src="../Imagenes/instagram.png" alt="Instagram" class="icono">@DreamTechCR</a></li>
                <br>
                <li><a href="/acerca"><img src="../Imagenes/gorjeo.png" alt="Twitter" class="icono">@Dream_Tech</a></li>
            </ul>
        </div>
        <div class="linea"></div>
        <div class="sobre-nosotros">
            <h3>Sobre Nosotros</h3>
          
            <ul>
            <li><a href="/acerca"> • Nuestros Productos</a></li>
            <br>
            <li><a href="/acerca"> • Nuestras Categorias</a></li>
            <br>
            <li><a href="/acerca"> • Historia</a></li>
        </ul>
        </div>
        <br>
       
    </footer>
    <div class="pie-pagina">
        <p> &copy;2024 DreamTech. Todos los derechos reservados.</p>
    </div>

</body>
</html>


