<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pruebas</title>
    <link rel="stylesheet" href="../CSS/prueba.css">
    <link rel="icon" href="../Imagenes/Ag_Icon.ico">
    <link rel="stylesheet" type="text/css" href="your_website_domain/css_root/flaticon.css" >
</head>
<body>
   
    <header class="header">
       
        <nav>
           <ul class="nav-links">
            <li><a href="/menu">Inicio</a></li>
            <li><a href="/acerca">Sobre Nosotros</a></li>
            <li><a href="#footer">Contáctenos</a></li>
           </ul>            
        </nav>
     
        <div class="buscar">
            <form class="search-form" action="#" method="GET">
                <input type="text" placeholder="Buscar..." name="search">
                <button type="submit">Buscar</button>
            </form>
        </div>
    
        <div class="btn-container">
            <a class="btn" href="/login"><button>Inicia Sesion</button></a>
            </div>
            
        <div class="carrito1">
            <a href="/carrito"><img src="/Imagenes/carrito-de-compras (2).png" alt= "Carro de compras" ></a>
           
        </div>
    </header>




    <div class="menu-perfiles">
        <div class="perfil">
            <h3 style="color:black">Principal:</h3>
            <br>
            <a href="/perfil-usuario">Usuario</a>
            <br><br>
            <a href="/perfil-vendedor">Vendedor</a>
            <br><br>
            <a href="/solicitud-vendedor">Solicitud Vendedor</a>
            <br><br>
            <a href="/cambiar-contra">Cambio Contraseña</a>
            <br><br>
            <a href="/registro-productos">Registro Productos</a>
            <br><br>
            <a href="/navegacion">Navegacion</a>
            <br><br>
            <a href="/tramos">Tramos</a>
            <br><br>

          
        </div>
       
        <div class="perfil">
            <h3 style="color:black">Admin:</h3>
            <br>
            <a href="/lista-total-tramos-admin">Lista-total-tramos-admin</a>
            <br><br>
            <a href="/lista-total-productos-admin">Lista-total-productos-admin</a>
            <br><br>
            <a href="/reportes-admin-tabla">Reportes-admin-tabla</a>
            <br><br>
            <a href="/solicitud-admin-tabla">Solicitud-admin-tabla</a>
            <br><br>
            <a href="/registro-feria-admin">Registro-feria-admin</a>
            <br><br>
            <a href="/registro-producto-admin-tabla">Registro-producto-admin-tabla</a>
            <br><br>
            <a href="/registro-producto-admin">Registro-producto-admin</a>
            <br><br>
            <a href="/lista-total-productos-admin">Lista-total-productos-admin</a>
            <br><br>
        </div>
    
        <div class="perfil">
            <h3 style="color:black">Vendedor:</h3>
            <br>
            <a href="/registro-productos">Registro-productos</a>
            <br><br>
            <a href="/registro-productos-vendedor">Registro-productos-vendedor</a>
            <br><br>
            <a href="/registroferia">Registroferia</a>
            <br><br>
            <a href="/registrotramo-tabla">Registrotramo-tabla</a>
            <br><br>
            <a href="/inventario-vendedor">Inventario-vendedor</a>
            <br><br>
            <a href="/ventas-ganancias">Ventas-ganancias</a>
            <br><br>
        </div>
    </div>
    



    <br><br><br><br><br><br><br><br><br>

    <footer id="footer" class="footer">
        <img src="Imagenes/ag (3).png" alt="Logo" class="logo-footer">
    
        <div class="contacto">
            <h3>Contacto</h3>
            <ul>
                <li><a href="/acerca"><img src="../Imagenes/whatsapp.png" alt="Whatsapp" class="icono">+ 506 5134-8528</a></li>
                <br>
                <li><a href="/acerca"><img src="../Imagenes/instagram.png" alt="Instagram" class="icono">@DreamTechCR</a></li>
                <br>
                <li><a href="/acerca"><img src="../Imagenes/gorjeo.png" alt="Twitter" class="icono">@Dream_Tech</a></li>
            </ul>
        </div>
        <div class="linea"></div>
        <div class="sobre-nosotros">
            <h3>Sobre Nosotros</h3>
          
            <ul>
            <li><a href="/acerca"> • Nuestros Productos</a></li>
            <br>
            <li><a href="/acerca"> • Nuestras Categorias</a></li>
            <br>
            <li><a href="/acerca"> • Historia</a></li>
        </ul>
        </div>
        <br>
       
    </footer>
    <div class="pie-pagina">
        <p> &copy;2024 DreamTech. Todos los derechos reservados.</p>
    </div>


<script src="js/tarjeta.js"></script>

</body>
</html>