<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/registroferia.css">
    <link rel="icon" href="img/DreamTech_Icon.ico">
    <title>Registro Feria</title>
</head>

<body>

    <div class="topnav">
        <a class="active" href="../HTML/menu.html">Inicio</a>
        <a href="../HTML/productos.html">Productos</a>
        <a href="../HTML/acercaDe.html">Acerca De</a>
        <a class="cerrarSesion" href="../HTML/login.html">Cerrar Sesion</a>
        <a class="creadores" href="../HTML/creadores.html">Creadores</a>
    </div>


    <div class="caja-titulo">
        <h1>Registro Feria</h1>
    </div>

    <div class="opciones">
        <div class="opcion-container">
            <img src="../Imagenes/imagen-ejemplo.png">
            <a href="#">Solicitudes</a>
        </div>

        <div class="opcion-container">
            <img src="../Imagenes/imagen-ejemplo.png">
            <a href="registro-feria">Registro de Feria</a>
        </div>

        <div class="opcion-container">
            <img src="Imagenes/imagen-ejemplo.png">
            <a href="registro-producto-admin-tabla">Registro de productos</a>
        </div>

        <div class="opcion-container">
            <img src="../Imagenes/imagen-ejemplo.png">
            <a href="#">Reportes</a>
        </div>

        <div class="opcion-container">
            <img src="../Imagenes/imagen-ejemplo.png">
            <a href="#">Tramos</a>
        </div>
    </div>



    <div class="caja-info">
        <div class="actualizardatos">
            
            
            
            <button onclick="location.reload()"><b>Nuevo</b></button> 
            
        </div>
        
        <div class="remover">
            
            
            
            <button onclick="location.reload()"><b>Remover</b></button> 
            
        </div>

        <div class="tablaferia">
            <table>
                <tr>
                  <th>Nombre de feria</th>
                  <th>Fecha de feria</th>
                  <th>Provincia</th>
                  <th>Canton</th>
                  <th>Distrito</th>
                  <th>Ubicación</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
            </div>    
        

    </div>


    <script src="../JavaScripts/modelo_vendedor.js"></script>


    <footer>
        <div class="footer-top">
    
    <img src="Imagenes/imagen-ejemplo.png" alt="Logo" class="logo-footer">
    
            <div class="contactos">
                <b>
                    <p>Contacto</p>
                </b>
                <div class="contacto">
                    <img src="../Imagenes/Whatsapp.png" alt="Whatsapp" class="icono">
                    <p>+506 6224-9340</p>
                </div>
                <div class="contacto">
                    <img src="../Imagenes/Instagram.png" alt="Instagram" class="icono">
                    <p>@DreamTechCR</p>
                </div>
                <div class="contacto">
                    <img src="../Imagenes/Twitter.png" alt="Twitter" class="icono">
                    <p>@Dream_Tech</p>
                </div>
            </div>
            <div class="sobre-nosotros">
                <b>
                    <p>Sobre Nosotros</p>
                </b>
                <p class="sobre-nosotros-texto">aaaaaaaaaaaaaaaaaaaaa</p>
                <p class="sobre-nosotros-texto">eeeeeeeeeeeeeeeeeeeee</p>
                <p class="sobre-nosotros-texto">iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii</p>
                <p class="sobre-nosotros-texto">ooooooooooooooooooooo</p>
                <p class="sobre-nosotros-texto">uuuuuuuuuuuuuuuuuuuuu</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 TechDream. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>

</html>