@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}



body {
    background-color: #f2efe3;
}

.header{
    background-color: #205737;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 10px;
}

.header .logo1{
    cursor: pointer;
}

.header .logo1 img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo1 img:hover{
    transform: scale(1.2);
}
.header .carrito1{
    cursor: pointer;
}

.header .carrito1 img{
    height: 35px;
    width: auto;
    transition: all 0.3s;
    margin: 15px;
}
.header .carrito1 img:hover{
    transform: scale(1.1);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.03);
}

.header .nav-links a{
    font-size: 19px;
    color: #ffff;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: white;
}

.header .btn-container {
    padding: 22px 25px;
}

.header .btn button{
    font-weight: 500;
    font-size: 20px;
    color: #1b3039;
    padding: 5px 14px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #205737;
    transform: scale(1.03);
}

.header .buscar  {
    margin-left: auto;
}


.buscar .search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 5px 14px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-form button {
    padding: 6px 16px;
    background-color: #205737;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #1b3039;
}








/* CONTENIDO EXTRA */

.login-container {
    height: 100vh;
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2efe3;
}

.login-content {
    text-align: center;
    height: 450px;
    background-color: #e2d9c6;;
    border-radius: 30px;
    padding: 20px;
}

.login-titulo {
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(244, 244, 244);
}

.login-imagen {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.login-input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

.login-boton {
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-boton:hover {
    background-color: #45a049;
}

.login-enlaces {
    margin-top: 20px;
    text-align: center; 
}

.login-enlaces a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s, background-color 0.3s;
}

.login-enlaces a:hover {
    text-decoration: underline;
    color: #28a745;
    background-color: rgba(40, 167, 69, 0.1);
}

h2 {
    margin: 30px;
}

.ingrese-correo,.login-input  {
    margin: 30px;
}

/* FOOTER */


.footer {
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
    padding: 5px 10px 20px;
}

.contacto,
.sobre-nosotros {
    width: calc(40% - 70px);
    margin: 10px;
    color: #ffffff;
}

.contacto h3,
.sobre-nosotros h3 {
    margin: 20px 10px 10px;
}

.contacto ul,
.sobre-nosotros ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.contacto ul li,
.sobre-nosotros ul li {
    margin-bottom: 5px;
    text-decoration: none;
}

.contacto ul li a,
.sobre-nosotros ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.contacto ul li a:hover,
.sobre-nosotros ul li a:hover {
    color: #348a29;
}

.linea {
    border-left: 1px solid #ffffff;
    height: 290px;
    margin: 0 20px;
}

.sobre-nosotros p {
    color: #ffffff;
    line-height: 1.6;
    margin: 10px;
}

.logo-footer {
    width: 145px;
    height: 145px;
}

h3 {
    color: #ffffff;
    margin: 10px;
}

.icono {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
}

.pie-pagina {
    background-color: rgb(91, 91, 91);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 10px;
}

.pie-pagina p {
    color: #ffffff;
    font-size: 18px;
    margin: 0;
}





/* FOOTER */


.footer {
    background-color: rgb(97, 97, 97);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 300px;
    padding: 5px 10px 20px;
}

.contacto,
.sobre-nosotros {
    width: calc(40% - 70px);
    margin: 10px;
    color: #ffffff;
}

.contacto h3,
.sobre-nosotros h3 {
    margin: 20px 10px 10px;
}

.contacto ul,
.sobre-nosotros ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.contacto ul li,
.sobre-nosotros ul li {
    margin-bottom: 5px;
    text-decoration: none;
}

.contacto ul li a,
.sobre-nosotros ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

.contacto ul li a:hover,
.sobre-nosotros ul li a:hover {
    color: #348a29;
}

.linea {
    border-left: 1px solid #ffffff;
    height: 290px;
    margin: 0 20px;
}

.sobre-nosotros p {
    color: #ffffff;
    line-height: 1.6;
    margin: 10px;
}

.logo-footer {
    width: 145px;
    height: 145px;
}

h3 {
    color: #ffffff;
    margin: 10px;
}

.icono {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
}

.pie-pagina {
    background-color: rgb(91, 91, 91);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 5px 10px;
}

.pie-pagina p {
    color: #ffffff;
    font-size: 18px;
    margin: 0;
}
